@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>旺宏電子(Hank team)測驗</h1>
    <p><a href="https://www.mxic.com.tw/zh-tw/about/Pages/company-overview.aspx" class="btn btn-primary btn-lg">旺宏電子 &raquo;</a>工作說明： 將博格簽核流程系統轉換成旺宏自行開發的會簽系統，主要工作是送簽邏輯轉換，表單與MES相關</p>
</div>

<div class="jumbotron">
    <div class="col-md-12">
        <p><a class="btn btn-default" href="https://localhost:44327/Home/Getemps">員工基本檔 &raquo;</a>(ASP.NET MVC 實作)  實作人:緯創軟體-陳志成 日期:2024/05/23</p>
      
    </div>
  
</div>